# Czech Wikipedia in the covid era: Pageviews

This notebook shows data about pageviews for Czech Wikipedia pages during years 2020 and 2019.

Created by Martin Urbanec, Wikimedia Czech Republic. WIP notebook, do not rely on (yet).

In [2]:
from wmfdata import spark
import pandas as pd

pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Configuration

In [6]:
SNAPSHOT = '2021-05'
PROJECT='cs.wikipedia'
DBNAME = 'cswiki'

## Helper methods

In [5]:
def merge_dataframes(file_2019, file_2020, suffixes=('_2019', '_2020')):
    df_2019 = pd.read_csv(file_2019, sep='\t')
    df_2019['date'] = df_2019.date.str.replace('2019-', 'year-')
    df_2019.set_index('date', inplace=True)

    df_2020 = pd.read_csv(file_2020, sep='\t')
    df_2020['date'] = df_2020.date.str.replace('2020-', 'year-')
    df_2020.set_index('date', inplace=True)

    df = df_2019.merge(df_2020, left_index=True, right_index=True, suffixes=suffixes)
    df.reset_index(inplace=True)
    df['date'] = df.date.str.replace('year-', '2020-')
    df.set_index('date', inplace=True)
    
    return df

## Total pageviews at Czech Wikipedia
Daily pageviews of all Czech Wikipedia pages during 2020 and 2019.

In [17]:
def get_views_per_year(year):
    return spark.run('''
    SELECT
        CONCAT(year, '-', LPAD(month, 2, '0'), '-', LPAD(day, 2, '0')) AS `date`,
        SUM(view_count) AS views
    FROM wmf.projectview_hourly
    WHERE
            year={year}
        AND project="{project}"
    GROUP BY `date`
    ORDER BY `date`
    '''.format(
        project=PROJECT,
        year=year
    ))

In [18]:
df = get_views_per_year(2020)
df.to_csv('data/cswiki_pageviews_2020.tsv', sep='\t', index=False)
df.head()

PySpark executors will use /usr/lib/anaconda-wmf/bin/python3.

         date    views
0  2020-01-01  3586942
1  2020-01-02  3534903
2  2020-01-03  3483584
3  2020-01-04  3783583
4  2020-01-05  4026342

In [19]:
df = get_views_per_year(2019)
df.to_csv('data/cswiki_pageviews_2019.tsv', sep='\t', index=False)
df.head()

PySpark executors will use /usr/lib/anaconda-wmf/bin/python3.

         date    views
0  2019-01-01  3338366
1  2019-01-02  3454958
2  2019-01-03  3420861
3  2019-01-04  3221445
4  2019-01-05  3802748

In [20]:
df = merge_dataframes('data/cswiki_pageviews_2019.tsv', 'data/cswiki_pageviews_2020.tsv')
df.to_csv('data/cswiki_pageviews_2019_2020.tsv', sep='\t')
df.head()

            views_2019  views_2020
date
2020-01-01     3338366     3586942
2020-01-02     3454958     3534903
2020-01-03     3420861     3483584
2020-01-04     3221445     3783583
2020-01-05     3802748     4026342

## Pageviews - biggest pageview difference, 20 March
This table isn't for all of 2020/2019. Instead, numbers are calculated for 20 March 2019 and 2020, as the underlying data table (`wmf.pageview_hourly`) is about 5 TB per year. The date (20 March) was selected as a random day in March, during first government-ordered lockdown.

In [4]:
def calculate_pageviews_difference(month, day):
    fillPageviewsQueryTemplate = '''
    INSERT INTO urbanecm.blogpost_covid_and_cswiki_pageviews

    SELECT
        year,
        month,
        day,
        page_title,
        SUM(view_count) AS views_{year}
    FROM wmf.pageview_hourly
    WHERE
            year = {year}
        AND month = {month}
        AND day = {day}
        AND project = '{project}'
        AND page_title != 'Venuše_(planeta)'
    GROUP BY
        year,
        month,
        day,
        page_title
    '''
    
    queries = [
        'DROP TABLE IF EXISTS urbanecm.blogpost_covid_and_cswiki_pageviews',
        '''
        CREATE TABLE urbanecm.blogpost_covid_and_cswiki_pageviews(
            year bigint,
            month bigint,
            day bigint,
            page_title string,
            views bigint
        )
        ''',
        fillPageviewsQueryTemplate.format(project=PROJECT, year=2019, month=month, day=day),
        fillPageviewsQueryTemplate.format(project=PROJECT, year=2020, month=month, day=day),
        '''
        SELECT
            year,
            month,
            day,
            SUM(views)
        FROM urbanecm.blogpost_covid_and_cswiki_pageviews
        GROUP BY
            year,
            month,
            day
        '''
    ]

    # fill temp pageviews table -- urbanecm.blogpost_covid_and_cswiki_pageviews
    spark.run(queries)
    
    # return data
    return spark.run('''
    WITH pv_2020 AS (
        SELECT
            month, day, page_title, views AS views_2020
        FROM urbanecm.blogpost_covid_and_cswiki_pageviews
        WHERE
            year=2020
    ),
    pv_2019 AS (
        SELECT
            month, day, page_title, views AS views_2019
        FROM urbanecm.blogpost_covid_and_cswiki_pageviews
        WHERE
            year=2019
    )

    SELECT
        pv_2020.month,
        pv_2020.day,
        pv_2020.page_title,
        views_2020,
        views_2019,
        views_2020 - views_2019 AS views_difference
    FROM pv_2020
    JOIN pv_2019 ON
        pv_2020.month=pv_2019.month
        AND pv_2020.day=pv_2019.day
        AND pv_2020.page_title=pv_2019.page_title
    ORDER BY views_difference DESC
    LIMIT 20
    ''')

In [7]:
df = calculate_pageviews_difference(month=3, day=20)
df.to_csv('data/cswiki_pageviews_difference_2019_2020_March_20.tsv', sep='\t', index=False)
df

PySpark executors will use /usr/lib/anaconda-wmf/bin/python3.
PySpark executors will use /usr/lib/anaconda-wmf/bin/python3.

,month,day,page_title,views_2020,views_2019,views_difference
0,3,20,Hlavní_strana,110243,63514,46729
1,3,20,Speciální:Hledání,46512,33172,13340
2,3,20,Španělská_chřipka,10948,40,10908
3,3,20,Koronavirus,9766,5,9761
4,3,20,Ignác_Filip_Semmelweis,6586,16,6570
5,3,20,SARS,6432,51,6381
6,3,20,Kurzarbeit,5702,2,5700
7,3,20,Vladimír_Zábrodský,5276,7,5269
8,3,20,Antonov_An-124,4777,30,4747
9,3,20,Roman_Prymula,4542,9,4533
10,3,20,Itálie,4972,605,4367
11,3,20,Dana_Zátopková,4315,96,4219
12,3,20,Česká_hokejová_extraliga_1993/1994,3391,43,3348
13,3,20,Adam_Vojtěch,3323,87,3236
14,3,20,Eva_Pilarová,3104,26,3078
15,3,20,Simona_Stašová,3229,167,3062
16,3,20,Mor,3255,205,3050
17,3,20,Pandemie,3045,33,3012
18,3,20,Stanné_právo,3065,75,2990
19,3,20,Seznam_států_světa_podle_počtu_obyvatel,3469,604,2865